@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2d9cdb;
  --color-primary-lighten: #e3f0f7;
  --color-secondary: #1f2855;
  --color-secondary-lighten: #f0f2fa;
}

body {
  font-family: "Montserrat", sans-serif;
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #929292;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
